$small: 500px;
$medium: 800px;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, lightblue , white, lightgrey);

  &_main {
    display: flex;
    @media screen and (max-width: $small) {
      flex-direction: column;
    }
    @media screen and (min-width: $medium) {
      flex-direction: row;
    }
    background-color: rgba(128, 128, 128, 0.256);
    padding: 20px 0;
  }
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 30px;
  
  @media screen and (max-width: $small) {
    font-size: 24px;
  }
  @media screen and (min-width: $medium) {
    font-size: 48px;
  }
}

.imageBox {
  &_img {
    @media screen and (max-width: $small) {
      width: 90%;
      height: 300px;
      padding: 20px;
      margin-top: 40px;
    }
    @media screen and (min-width: $medium) {
      width: 400px;
      height: 400px;
      padding-left: 20px;
    }
  }
}

.fullInfo {
  @media screen and (max-width: $small) {
    font-size: 18px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  @media screen and (min-width: $medium) {
    font-size: 22px;
    padding-left: 20px;
  }
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
